<h1>{{ title }}</h1>
<nav>
  <a routerLink="/contents-dashboard">Dashboard</a>
  <a routerLink="/contents-heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<tour-of-heroes-org-messages></tour-of-heroes-org-messages>
