<tour-of-heroes-atm-heroes-title></tour-of-heroes-atm-heroes-title>
<tour-of-heroes-mol-heroes-list [heroes]="heroes" (deleteEvent)="delete($event)"></tour-of-heroes-mol-heroes-list>

<tour-of-heroes-atm-hero-add (addEvent)="add($event)"></tour-of-heroes-atm-hero-add>
