<li *ngFor="let hero of heroes">

  <a routerLink="/contents-hero-detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </a>
  <button class="delete" title="delete hero" (click)="delete(hero)">x</button>

</li>
