<!-- <tour-of-heroes-org-heroes-body [heroes]="heroes"></tour-of-heroes-org-heroes-body> -->
<tour-of-heroes-org-heroes-body [heroes]="allHeroes$ | async" (addEvent)="addHero($event)" (deleteEvent)="deleteHero($event)"></tour-of-heroes-org-heroes-body>
